<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://twitter.com/i_amrishu"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.instagram.com/i__amrishu/"><i class="fa-brands fa-square-instagram"></i></a>
           <a href="https://www.linkedin.com/in/rishu-kumar-68455a213/"> <i class="fa-brands fa-linkedin"></i></a>
        </div>
<<<<<<< HEAD
        <div class="f-info-brand"> &copy; NourishNet Private Limited</div>
=======
        <div class="f-info-brand"> &copy; WanderLust Private Limited</div>
>>>>>>> c2100337e5ff889e6c8aa47ed704893a7a8ab705
        <div class="f-info-links">
            <a href="/privacy">Privacy</a> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>
