<% layout("/layouts/boilerplate") %>


<div class="container">
    
        <li style="list-style: none;">
            <a href="" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
        </li>    

        <li style="list-style: none;">
            <a href="" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none">
                <i class="fa-solid fa-cart-shopping"></i>
                Your Cart
            </a>
        </li>    

        <li style="list-style: none;">
            <a href="" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none">
                <i class="fa-solid fa-bag-shopping"></i>
                Your Orders
            </a>
        </li>    
        
</div>