<% layout("/layouts/boilerplate") %>

<div class="container">

        <li style="list-style: none;">
           <a class="btn show-btns" style="color:rgb(18, 1, 39);;" href="/listings/new"><h4>Nourish Your Good</h4></a>
           <i class="fa-solid fa-hand-holding-heart" style="font-size: 1.5rem;"></i>
        </li>

        <li style="list-style: none;">
            <a href="/listings" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none; font-weight:500;">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
        </li>    

        <li style="list-style: none;">
            <a href="/listings/<%= currUser.id %>/cart" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none; font-weight:500;">
                <i class="fa-solid fa-cart-shopping"></i>
                Your Cart
            </a>
        </li>    

        <li style="list-style: none;">
            <a href=":/id/orders" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none; font-weight:500;">
                <i class="fa-solid fa-bag-shopping"></i>
                Your Orders
            </a>
        </li>  

        <li style="list-style: none;">
            <a href="/getinvolved" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none; font-weight:500;">
                <i class="fa-solid fa-handshake"></i>
                Get Involved
            </a>
        </li>  
        
        <li style="list-style: none;">
            <a href="/projects" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none; font-weight:500;">
                <i class="fa-solid fa-lightbulb"></i>
                Projects
            </a>
        </li>  

        <li style="list-style: none;">
            <a href="/blogs" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none; font-weight:500;">
                <i class="fa-solid fa-blog"></i>
                Nourish Blog
            </a>
        </li>  

        <li style="list-style: none;">
            <a href="/events" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none; font-weight:500;">
                <i class="fa-solid fa-calendar-days"></i>
                Events
            </a>
        </li>  

        <li style="list-style: none;">
            <a href="/donate" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none; font-weight:500;">
                <i class="fa-solid fa-bowl-food"></i>
                Donate Food
            </a>
        </li> 
        
        <li style="list-style: none;">
            <a href="/contact" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none; font-weight:500;">
                <i class="fa-solid fa-phone"></i>
                Contact Us
            </a>
        </li> 

        <li style="list-style: none;">
            <a href="/profile" class="btn show-btns" style="color:rgb(18, 1, 39); text-decoration:none; font-weight:500;">
                <i class="fa-solid fa-user"></i>
                Profile
            </a>
        </li>   
</div>