<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <h1 class="col-6 offset-3 mb-2">SignUp on WanderLust</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input 
                 type="text" 
                 name="username" 
                 id="username"
                 class="form-control" 
                 required
                />
                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input 
                 type="email" 
                 name="email" 
                 id="email"
                 class="form-control" 
                 required
                />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input 
                 type="password" 
                 name="password" 
                 id="password"
                 class="form-control" 
                 required
                />
            </div>

            <!-- signup with google -->
            <div class="mb-3">
                <button 
                 type="button" 
                 class="btn btn-primary"
                 onclick="signupWithGoogle()"
                >
                 Sign up with Google
                </button>
            </div>

            <button class="btn btn-success" id="signupbtn">SignUp</button>
        </form>
    </div>
</div>



<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
<script>
  var needToCheck = false;
    function signupWithGoogle() {
        needToCheck = true;
        const provider = new firebase.auth.GoogleAuthProvider();
        auth.signInWithPopup(provider);
    }
    auth.onAuthStateChanged((user) => {
        if (user && needToCheck) {
            console.log(user);
            document.getElementById("username").value = user.email;
            document.getElementById("email").value = user.email;
            document.getElementById("password").value = user.uid;
            signupbtn.click();
        }
    });
    
</script>